/*Single Element styling*/
* {
    box-sizing: border-box;
    color: #ecf5ff;
    font-family: sans-serif, Arial, Helvetica;
    margin: 0;
    padding: 0;
    
}
html {
    background-color:rgb(2, 0, 10);
    font-size: 62.5%; 
}

h1, h2, h3, h4 {
    margin-bottom: 1rem;
}

h1 {
    color: #ecf5ff;
    font-size: 5.4rem;
    margin-bottom: 5rem;
}

h1 > span {
    font-size: 2.4rem;
    font-weight: 500;
}

h2 {
    font-size: 4.2rem;
    font-weight: 700;
    margin-bottom: 4rem;
}

h3 {
    font-size: 2.8rem;
    font-weight: 500;
}

p {
    color: black;
}

input [type=text] , textarea , input {
    border: 0.5rem solid #ccc;
    border-radius: 0.5rem;
    box-sizing: border-box;
    color: black;
    font-size: 2rem;
    margin-bottom:2rem;
    margin-top:3rem;
    padding: 2rem;
    width: 2rem 5rem;
}

/*Styling of container class (all sections have container class divs)*/
.container {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    margin: 0 auto;
    max-width: 80rem;
    padding: 2rem;
    width: 100vw;
}

.container >* {
    width: 100%;
}

.container .info_rules .rules span {
    color: blue;
    font-weight: bolder;
}

.flex-column {
    flex-direction: column;
    display: flex;
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

/*styling buttons for the entire application*/

.btn {
    background-color: white;
    border: 0.1rem, solid #dfe9f3;
    color: #030000;
    font-size: 1.8rem;
    margin-bottom: 1rem;
    padding: 1rem 0;
    text-align: center;
    text-decoration: none;
    width: 20rem;
}

.btn:hover {
    box-shadow: 0 0.4rem 1.4rem 0 magenta;
}
.btn:hover, .choice-container:hover {
    cursor: pointer;
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}
.btn[disabled]:hover {
    box-shadow: none;
    cursor: not-allowed;
    transform: none;
}

#againbtn{
    color: black;
    font-size: 2.5rem;
    padding-top: 2rem;
    text-decoration: none;
}

/*styling of Rules section*/
.info_rules {
    border: 1rem solid rgb(155, 155, 15);
    display: flex;
    flex-direction: column;
    font-size: 1.8rem;
    font-weight: bold;
    justify-content:center;
    line-height: 2;
    margin-bottom: 3rem;
    padding-bottom:5rem;
    padding-left: 10rem;
    padding-top: 5rem;
    width: 100%;
}



/*styling of game section*/
.choice-container{
    background-color: white;
    border: 0.1rem solid rgb (86, 165, 235, 0.25);
    display: flex;
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
    width: 100%;
}

.choice-container:hover {
    box-shadow: 0 0.4rem 1.4rem 0 blue;
}
.choice-prefix{
    background-color: rgb(114, 114, 108);
    color: white;
    padding: 1.5rem 2.5rem;
}

.choice-text {
    padding: 1.5rem;
    width: 100%;
}


/*Timer and score styling section*/
#timer {
    display: flex;
    justify-content: space-between;

}
.timer-prefix {
    color: gray;
    font-size: 3rem;
    text-align: center;
}

.timer-main-text {
    padding-bottom: 5rem;
    text-align: center;
}

#timer-item{
    float: right;
}

.again {
    margin-top: 5rem;
}

/*Results section styling*/
#highScoreList1 {
    list-style: none;
    margin-bottom: 4rem;
    padding-left: 0;

}

.high-score {
    font-size: 2.8rem;
    margin-bottom: 0.5rem;
}
.high-score:hover {
    transform: scale(1.025);
}